[2016-10-26 21:41] Thecakeisgit opened #1 "The fr_FR.lang is incomplete."
We need somebody to end this file and to test the lib.

[2016-10-26 21:43] Thecakeisgit opened #2 "The es_ES.lang is totaly invalid and incomplete."
We need somebody with a spanish keyboard to fill the file with correct ascii map.

[2016-10-26 21:59] d4n5h commented on #2
@Thecakeisgit I'm impressed by you. Good job mate.
You're becoming a great maintainer.

[2016-10-26 22:01] d4n5h commented on #2
@Thecakeisgit I don't have a French or a Spanish keyboard. just a regular QWERTY.
So i can't help you with that one.
Sorry.

[2016-10-26 22:05] d4n5h commented on #2
@Thecakeisgit By the way, i've referenced this project on my repository if you don't mind.

[2016-10-26 22:13] d4n5h commented on #2
@Thecakeisgit http://www.ascii-codes.com/cp852.html Check out this site. it's got Ascii tables for almost all languages.

[2016-10-26 22:19] d4n5h commented on #2
@Thecakeisgit https://github.com/NicoHood/HID/issues/22 Check this one out.
It's a good place to ask for help with testing and adding additional layouts.

[2016-10-26 22:31] Pedrinbeep commented on #2
@Thecakeisgit I have spanish keyboard. I am very noob but tell what to do.

[2016-10-26 22:39] lowlevl commented on #2
Thanks @d4n5h :D i decided to make good maintainement for this and Dckuino.js ;D
@Pedrinbeep I'll tell you tomorrow, i'm really tired, i go to sleep ;D I think i can do it also, i'll just need you to test ^^

[2016-10-26 22:41] Pedrinbeep commented on #2
@Thecakeisgit Great! Thank dude!! ;)

[2016-10-28 20:14] Thecakeisgit opened #3 "No web interface for the lib, need somebody"
There is an index, but we need somebody to make a real page ;D

[2016-10-28 20:20] lowlevl commented on #3
@d4n5h If u want to do something ;D

[2016-10-28 20:23] d4n5h commented on #3
@Thecakeisgit Sure but why do we need a JS/HTML interface?
I thought we decided to approach it with pure CPP with the keyboard.init(LANGCODE) function.

[2016-10-28 20:27] d4n5h commented on #3
@Thecakeisgit I think we should just put all the languages in the same directory and let people decide which language to use from the Arduino code. so they will be able to switch from language to another language without downloading different libraries.

[2016-10-28 20:31] lowlevl commented on #3
@d4n5h Yes i'm sure, look the lib, it's a js lib, i thinked about simple CPP, but we cant ifstream inside an arduino *-* so... It's impossible, and i tested, the _asciimap MUST BE CONST, otherwise it will fail :/
And bundleing all _asciimap in the lib is not good..

[2016-10-28 21:02] d4n5h commented on #3
@Thecakeisgit What about a pointer to constant?

[2016-10-28 21:04] d4n5h commented on #3
@Thecakeisgit or const std::var<int> function(){....};

[2016-10-28 21:08] d4n5h commented on #3
@Thecakeisgit "And bundleing all _asciimap in the lib is not good.." Why? i think it is more convenient...

[2016-10-28 21:11] d4n5h commented on #3
@Thecakeisgit You can just leave the _asciimap array empty and push to it afterwards with pointers.

[2016-10-28 21:22] lowlevl commented on #3
@d4n5h Hmm but open file is not possible..
I made a generator, its proper and i can add it to Dckuino.js, i generate and put all in zip file ;D

[2016-10-28 21:28] d4n5h commented on #3
@Thecakeisgit Let's try to figure it out. i'm sure there is a more elegant approach.
I think we should just use .cpp for the .lang files and then the compiler will load them.

[2016-10-28 21:30] d4n5h commented on #3
@Thecakeisgit This library can be really useful for a lot of projects rather than just Duckuino and the more flexible we can make it - the better.

[2016-10-28 21:32] lowlevl commented on #3
Yep, but try doing what you say in another branch ;D I'll be happy to see ^^

[2016-10-28 21:36] d4n5h commented on #3
@Thecakeisgit The idea of `Keyboard.layout(LAYOUT_CODE);` is really good and i'm sure that there is a solution to do just that. You said you like challenge? so here is a challenge ;)
Why should i create another branch? we're trying to solve the same problem...
I'll help you if you're having trouble with coding in CPP (Not that i'm an expert, i suck at CPP lol).

[2016-10-28 21:38] lowlevl commented on #3
Okay ^^ I'll think about it :3 i love headers file, i'll do it :D

[2016-10-28 21:42] #3 closed

[2016-10-28 21:50] lowlevl commented on #3
(I rolled back ;D i'll try doing this ^^)

[2016-10-28 21:50] lowlevl commented on #3
@d4n5h

[2016-10-28 23:15] Thecakeisgit opened #4 "Can't modify const _asciimap !"
@d4n5h Please help *-*

[2016-10-28 23:20] d4n5h commented on #4
@Thecakeisgit
Example:
const int a = 0;
*(int *)&a = 39;
printf("%d", a);

[2016-10-28 23:25] lowlevl commented on #4
Doesn't works try it ;D

[2016-10-28 23:26] lowlevl commented on #4
Basically const is like #define to the compiler.. so...

[2016-10-28 23:28] d4n5h commented on #4
@Thecakeisgit Are you sure _asciimap _MUST_ be a contant? it sounds weird...

[2016-10-28 23:29] d4n5h commented on #4
@Thecakeisgit I'll try to find a solution, i think we can solve it.

[2016-10-28 23:35] lowlevl commented on #4
Yep try to remove the const declaration on _asciimap.. And try with ur hardware, just super weird..
azerty -> ebµ

[2016-10-28 23:36] lowlevl commented on #4
@d4n5h

[2016-10-28 23:38] d4n5h commented on #4
@Thecakeisgit Yeah i'm working on it, i'm trying a few things. I'll update you if i'll get it to work.

[2016-10-28 23:41] lowlevl commented on #4
Okay, i backuped my js compiler, so i'll push it again if you don't find :S

[2016-10-29 00:18] d4n5h commented on #4
@Thecakeisgit I think there is a workaround:
The idea is to define all the layouts in the Keyboard.cpp file and then use press/release function to switch between the layouts... I think it should work.
Similar to this: http://forum.arduino.cc/index.php?topic=245140.msg1754197#msg1754197

[2016-10-29 00:49] d4n5h commented on #4
@Thecakeisgit
Another "dirty" option (if it's a Windows machine) is to use the Powershell to switch to qwerty and then revert back to the previous layout.

// Keep a the variable for switching back to the previous layout:
$currentLangAndKeyboard = (Get-WinUserLanguageList).InputMethodTips

// Make the switch:
$langList = New-WinUserLanguageList en-US
$langList[0].InputMethodTips.Clear()
$langList[

[2016-10-29 09:17] lowlevl commented on #4
-Thecake killing himself-
@d4n5h The "dirty" option is very... Dirty (Yes thanks captain obvious), and there is not another Lib, it's just an improvement for the base compiler.. So i got some questions :
- How do you handle this if the computer have no other locale, and the admin have removed all other ?
- It loses time, and for a payload, losing 7-8 sec is not good..
- It's impossible on linux, b

[2016-10-29 09:18] lowlevl commented on #4
@d4n5h For the press() workaround, please try ;D

[2016-10-29 09:25] lowlevl commented on #4
@d4n5h I just tested, and modifying the var name in press and release don't work, and it's because the var _asciimap needs to be in PROGMEM, and it's why it needs to be const.
Look:

[code]

The line with PROGMEM is the problem, and if we remove it, it types random keys..

[2016-10-30 11:44] lowlevl commented on #4
@d4n5h Poke !

[2016-10-31 22:58] d4n5h commented on #4
Hi @Thecakeisgit
At the moment i really don't have any free time to help you with this project.
If you want to push it with the JS generator ("as is") i'm fine with it.

[2016-11-02 08:45] #4 closed

[2016-11-02 10:36] lowlevl commented on #2
@Pedrinbeep we finally fixed Dckuino.js, so now we just need to update .lang files ;D

[2016-11-03 02:27] Pedrinbeep commented on #2
@Thecakeisgit Nice! Tell me what to do for make any test you want on a spanish keyboard, and how to do it please. ;)

[2016-11-03 19:07] #1 closed

[2016-11-17 00:23] TradeCrafter opened #5 "pt_BR.lang request, and index issue."
hello, that's an great job, on DuckyDuino, my name is Leo from Rio de Janeiro, i'm looking for an way to get my keyboard right, since we here in Brazil type in an ABNT2 keyboard, there is some extra keys, like Ç...
the index.HTML doesnt work, i got some scan codes for ABNT2 that i've found Googling around, i'm just not 100% of sure if its the right ones...
Please, help me creating pt-BR Keyboard f

[2016-11-17 14:33] lowlevl commented on #5
Hi @TradeCrafter, I’m happy to see that you like my work.
For the index.html, it doesn't work because we don't need it yet and i created LocaleKeyboard.js to use with Dckuino.js.
For the pt_BR.lang, feel free to make a pull request with the file.

To test the layout, you may use this code in your Arduino IDE :

[code]

Please understand that it's not easy to create a key map and I raged a lot to m

[2016-11-17 14:34] lowlevl commented on #5
Make sure to download the good Keyboard lib using Dckuino.js or with js commands ;D Some things are modified to handle altGr key combos ;D.

[2016-11-17 14:53] TradeCrafter commented on #5
Thanks for the fast response !!
i know for sure this code you've put on the answer will not output the right codes, i dont intend to use altGR tricks and combos... just the plain regular ascii fot pt-BR.
I managed to interact with the Windows in order to change the input keyboard layout, but its only effective if the system got the lang pack already installed.
so the best solution is to create an

[2016-11-17 15:15] lowlevl commented on #5
@TradeCrafter Yep you need to deal with scan codes to match with your keyboard, and put your pt_BR.lang in lang dir and add <code>pt_BR</code> in the <code>localeList</code> file.
For the HID.cpp, we can do it, but making a HID.cpp generator plus a Keyboard.cpp generator.. I think it's not good..
The best way to help, it's to fork this repo and send a pull request once you done it ;D

_NOTE: Local

[2016-11-17 15:30] TradeCrafter commented on #5
STRING abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789\ !#$%&'`*~{}[]()%,;:!?-_./+=<>"\

"Download Sketch" button doesnt work... it does nothing, and this will only give an sketch to make the arduino print, somewhere on the screen these US chars, and thats it...  doesnt generate an Keyboard.H/CPP

i just realize that the characters for the ABNT2 Keyboard belongs to the 128-255 ascii

[2016-11-17 15:32] lowlevl commented on #5
You need to click <b>Compile</b> before using <b>Download Sketch!</b> ;D

[2016-11-17 15:35] lowlevl commented on #5
And not every keys are in 128-255 ASCII group.. You may try to convert for you locale ;D
_(I make Dckuino.js, follow me xD It generates a Keyboard.cpp/Keyboard.h)_

[2016-11-17 15:35] lowlevl commented on #5
@TradeCrafter

[2016-11-17 15:38] TradeCrafter commented on #5
i know this man, by clicking COMPILE, it generates the sketch on the output frame, but the download button doesnt work,
locale.js the same, how to run locale.js, if the index does nothing ?

please i dont want to be and pain in the ass, just need to understand in order to get my DuckyBR working !

[2016-11-17 15:48] #5 closed

[2016-11-17 15:49] lowlevl commented on #5
You can't help the project, cheers ! @TradeCrafter

[2016-11-17 15:59] TradeCrafter commented on #5
i'm lost for words... good luck in life bro

[2016-11-17 18:41] lowlevl commented on #5
@TradeCrafter I wanted to say sorry, my rage level was up to 894/10 because i was working on an other project.. :( Bye, if u wanna help again write back here and I'll reopen the issue... I didn't thinked before writing...

[2016-11-21 02:06] Pedrinbeep commented on #2
Hi @Thecakeisgit
I finally try your library with my spanish keyboard and your keyboard.h spanish layout and something ins wrong. The arduino sould write this:

`abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789\\ !#$%&'`*~{}[]()%,;:!?-_./+=<>\"\\`

And it write this:

`abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789ç !·$%/´º(ª^*`+)=%,ñÑ!_'?.-¿¡;:¨ç`

That is all I can h

[2016-11-21 05:44] lowlevl commented on #2
Hi @Pedrinbeep, it's been a while :D, Dckuino.js work with teensy, but the layout is messed up and you can't use the modfied Keyboard.h

[2016-11-21 05:45] lowlevl commented on #2
@Pedrinbeep For the layout, you made the keys, it's cool, i'll see if i can do something ;D (Do u have a picture of ur keyboard ? xD)

[2016-11-21 17:09] gh7531 opened #6 "Tutorial on how to create or to modify layouts"
I would love to help by providing a german keyboard layout but I have no idea how to do that.
A tutorial on how to create or to modify layouts and also on how to use any of the stuff on this rep would be nice.

[2016-11-21 17:46] lowlevl commented on #6
Hi @gh7531, I like the idea to create a tutorial, I'll do this very quickly.. Do you think I need to do it on the README.md or on a Wiki or what else ? Please tell me ;D

[2016-11-21 17:58] jhuber-de commented on #6
I would use the wiki and then link to the wiki in the readme file. But I'm no expert regarding github :)

[2016-11-21 19:11] lowlevl commented on #6
Done @gh7531 :D
Wiki : [How to create a locale ?!](https://github.com/Thecakeisgit/LocaleKeyboard.js/wiki/How-to-create-a-locale-%3F!)

Any question ?

[2016-11-21 21:11] Pedrinbeep commented on #2
Hi @Thecakeisgit ! Perfect, I will also try it on Teensy with their own keyboard.

About my layout keyboard, all yours! Hahaha. Thank you so much.

![photo51816457305173602](https://cloud.githubusercontent.com/assets/23044551/20500791/3a2aec34-b037-11e6-853d-93e1024bfc21.jpg)

[2016-11-22 19:39] jhuber-de commented on #6
Thanks a lot. On thing to add would be how to obtain the hex values for each key.
Also since the _asciimap array is only 128 items long do you only support the standard ascii code? If so would it be possible to support the whole 8bit extended ascii code? Here is a link to clarify what I'm talking about http://www.asciitable.com/

[2016-11-22 19:43] lowlevl commented on #6
The problem is the Arduino HID.cpp code, coupled to the Arduino Core who is made for only ascii 128.. @gh7531

[2016-11-22 20:10] jhuber-de commented on #6
So extended ascii and therefore letters like the german umlauts ä,ü,ö are impossible?

[2016-11-26 16:42] KevinDenys opened #7 "- = §"
fr_FR

powershell.exe -Command \"Start-Process cmd -Verb RunAs\"

turns into

powershell.exe §Command "Start§Process cmd §Verb RunAs"

[2016-11-26 16:56] KevinDenys commented on #7
abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789 =#$%&'µ@{[()%,;:=?§!./_-<>"

this is my string output

[2016-11-26 17:24] KevinDenys commented on #7
be_BE
http://pastebin.com/qYedLpy7

Now it works changed values and the String is now complete for a belgian dot keyboard

[2016-11-26 19:14] lowlevl commented on #7
@KevinDenys Can i close the issue ? ^^

[2016-11-26 19:40] KevinDenys commented on #7
I cant get the backslash working :(

[2016-11-26 20:32] #7 closed

[2016-12-03 22:29] lowlevl commented on #6
I don't think so.. @gh7531 (Sry for the late ;D)
Can i close the issue ?

[2016-12-04 11:18] #6 closed

[2016-12-04 15:31] gh7531 opened #13 "Update test string in wiki"
While I was testing my layout I found out that not every character is tested by the string in the wiki.

This string contains all 95 character from the sample.lang:

!"#$%&'()*+,-./0123456789:;<=>?ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^`_abcdefghijklmnopqrstuvwxyz{|}~ @

EDIT
GitHub is messing around with my string so here is a .txt file containing the string.
[string.txt](https://github.com/Thecakeisgit/L

[2016-12-04 16:03] lowlevl commented on #13
Fix :D

[2016-12-04 16:03] #13 closed

[2016-12-11 16:38] Nibot1 opened #14 "Backslash isn't working in de_DE layout"
If I try to print an backslash my arduino prints an "ß"
Does anybody got an idear ?

[2016-12-11 16:56] jhuber-de commented on #14
I will look into it as soon as I get my arduino working again

[2016-12-11 18:35] jhuber-de commented on #14
So I got my Arduino working again and all worked fine. I provide you with the .ino file I used for testing and and an .txt file containing the output on my machine.
[Dckuino.js-4wDj.zip](https://github.com/Thecakeisgit/LocaleKeyboard.js/files/644677/Dckuino.js-4wDj.zip)

[2016-12-11 18:55] Nibot1 commented on #14
With your Keyboard.h and *.cpp it works.
I don't know what I didi wrong, but OK.
Tank you for fast reply

[2016-12-11 18:58] lowlevl commented on #14
Absolutely normal.. The **Keyboard.h** and **Keyboard.cpp** are the fix for the locale..
Fixed #14

[2016-12-11 18:58] #14 closed

[2017-01-15 18:27] Borja-Garduno commented on #2
@Thecakeisgit it´s been a while since the last comment, however I just find this git topic. I´m Spanish so my keyboard layout was also mess up. I have I think achieve almost every key (by mixing some of the langs and trying it out), but I´m not capable of printing neither of: | @ # ^.

My Keyboard.cpp looks like:

[code]

Any ideas?

[2017-01-15 19:46] lowlevl commented on #2
Hi, :D I'm happy too see that you were working on this project :)
I'm pretty sure that you problem is this that you use <code>|SHIFT</code> on these 4 not working keys ^^
You can't use SHIFT **and** ALTGR at the same time ;D

*NOTE: Keep in mind that ATmega32U4 is purely emulating a Keyboard, so to do #, |, @ and ^, you need to ALTGR + \<key\>, **not** ALTGR + SHIFT + \<key\> :)*

[2017-01-15 19:49] lowlevl commented on #2
@Borja-Garduno If you want to you can make a pull request to add your work to the project, it would be great ;D
Help yourself with -> [Wiki : How to create a locale ?!](https://github.com/Thecakeisgit/LocaleKeyboard.js/wiki/How-to-create-a-locale-%3F!)

[2017-01-15 21:02] Borja-Garduno commented on #2
@Thecakeisgit So, which #define should I need for ALTGR? I can see in Keyboard.h the following ones:
#define KEY_LEFT_CTRL   0x80
#define KEY_LEFT_SHIFT    0x81
#define KEY_LEFT_ALT    0x82
#define KEY_LEFT_GUI    0x83
#define KEY_RIGHT_CTRL    0x84
#define KEY_RIGHT_SHIFT   0x85
#define KEY_RIGHT_ALT   0x86
#define KEY_RIGHT_GUI   0x87

However in Keyboard.cpp 0x80 is already used by the Shift ke

[2017-01-15 21:43] Borja-Garduno commented on #2
Ok, I have realised that I did not need to put anything on the code (for example 0x1e|ALT_GR, // | ).
#, @ and | now works. I guess it works due to the _altGrMap[n] from below, though I do not completely understand it. I mean, both 0x1e,   // | and 0x1e,  // 1 have the same code. How does it differentiate them?

Also, I´m still stuck with ^and `, which in the Spanish Keyboard is in the same key, a

[2017-01-16 07:42] lowlevl commented on #2
Hi again @Borja-Garduno :
  - Yes, you don't need to add any **ALTGR** in the code, because i don't implemented AltGR this way... It's a bit technical and the **_altGrMap** is a var i totally added myself.. It can't be implemented like Shift because **SHIFT** works with bit wise operations, and in **uint8_t** we have only **256**(0-255) possibilities.. So when you add <code>|SHIFT</code>, it means

[2017-01-16 09:42] MMA92 opened #15 "i Created little tester for locale_keymap"
**Deleted unsecure link**

[2017-01-16 10:19] lowlevl commented on #15
I'll close issue until you add source code.

[2017-01-16 13:19] MMA92 commented on #15
Don't know how to upload the source code otherwise. https://github.com/MMA92/localtester/blob/master/Program.cs

[2017-01-16 17:57] Borja-Garduno commented on #2
@Thecakeisgit Well, I just tried what you advised, and it isn´t working. I guess that in GB keyboard it is difference. In the Spanish layout, we need to push SHIFT + key + SPACE. It is when space is pressed that the characters appear. Also, the _altGrMap (I guess) won´t work as the correct characters doesn´t appear.

Any ideas how to hit space in the arduino? As soon I achieve this two keys, I wil

[2017-01-18 12:20] lowlevl commented on #2
Yes, we need to make an **_spaceMap** I guess ;D @Borja-Garduno
(For the pull request refer to the wiki :D)

[2017-01-18 12:22] lowlevl commented on #15
@MMA92 Hmm okay, I'll test on my VM before using it.. I don't trust precompiled software from unknown sources ;D

[2017-01-18 13:26] MMA92 commented on #15
Sure no problem :)

[2017-01-18 14:06] 20repsej opened #16 "Help making a swedish keyboard layout"
Hello!
I´m trying to make a locale for Swedish keyboard layout but I´m having problem with these keys: \\, ^, ` and ~. I´m very noob at this so a little bit of help should be good.

[2017-01-18 17:28] Borja-Garduno commented on #2
@Thecakeisgit Would we need to create a new function for this, or it would be included in initAltGr?
  _spaceMap[255] = true; // ESPACIO
Like this?
I will try to make now the pull request, with the updates so far.

[2017-01-18 18:45] lowlevl commented on #2
Yes (we need to create a function and initialize the var) and to work we need to modify the code who is called when typing something ^^ @Borja-Garduno

[2017-01-18 18:52] lowlevl commented on #16
Hi ! No problem ;) Can you post a picture of your Keyboard ? and tell me how do you type these 3 keys normally ? :) @20repsej

[2017-01-18 19:00] #2 closed

[2017-01-18 19:05] Nurrl opened #19 "The characters ^ and ` don't work in locale es_ES."
@Borja-Garduno Here we are, we'll fix this locale :D

[2017-01-20 09:35] Borja-Garduno commented on #19
I have been trying to achieve this, still without success. It really drives me nuts to have only two keys not working! Any ideas?
@Thecakeisgit
http://stand.org/sites/default/files/styles/blog_post/public/Arizona/YourMyOnlyHope-vblog.png

[2017-01-22 15:02] lowlevl commented on #19
Hmm, i'll need to modify the main code ^^ (Of Keyboard.cpp) and I'll notify you when ready ^^

[2017-02-12 15:42] FuzzyLitchi opened #21 "The characters < > \ don't work in da_DK"
These characters don't work, and i don't know hot to fix it. I though that i should document it here.

[2017-02-12 18:37] lowlevl commented on #21
Yes, Thanks, we'll see how to fix that :D

[2017-02-12 19:29] #21 closed

[2017-03-05 14:36] Franco-Poveda commented on #19
\> and \< are not working for me, I have tried searching the code value with "showkey" on linux and with "key codes" in mac.
![screen shot 2017-03-05 at 11 32 38 am](https://cloud.githubusercontent.com/assets/11579281/23588128/8b007d8e-0197-11e7-8f02-a63a78c41dfd.png)

@Nurrl can you give us a hint on what the error is in the code so we can try help you. Thx

Keyboard:
![260842](https://cloud.gith

[2017-03-06 20:54] lowlevl commented on #19
Actually, there is no bug in code, but according to @Borja-Garduno, you need to press **<** + **\<Space\>**, so we need to make a **_spaceMap** var..
And I'm quite busy for now, so if you wan't to try this, feel free ;D

[2017-03-14 03:08] DiegoSepu95 opened #24 "How to install this?"
I want to install this into my Arduino app in mac, so i can upload a payload into a badusb ATMEGA32U4 with spanish keyboard layout.

[2017-03-18 13:03] lowlevl commented on #24
Hi @DiegoSepu95, sorry for the late answer, for now, it can't be installed in Arduino IDE.. It could be a great update..
For now to use it, you could use [Dckuino.js Live](https://nurrl.github.io/Dckuino.js/), to generate the code, then you could use **Download Sketch** button and select your language.

Seeya :D

[2017-04-01 11:53] lowlevl commented on #24
Can I close the issue ? ;D @DiegoSepu95

[2017-04-05 12:06] lowlevl commented on #24
Assumed to be solved

[2017-04-05 12:06] #24 closed

[2017-04-10 23:53] DiegoSepu95 opened #26 "Spanish-ISO keyboard layout Problem!"
I have the Arduino Leonardo (atmega32u4) when this runs, it does not print these characters ~ < > \ .
I tried changing hex codes on the keyboard.cpp but it did not solve the issue.

[2017-04-11 00:02] DiegoSepu95 commented on #19
Did anyone fixed the issue I also have Franco-Poveda keyboard, and i cant type these symbols ~ < > \.
I edited the keyboard.cpp with no success.

[2017-04-11 07:13] lowlevl commented on #19
Nope, sorry man... @DiegoSepu95

[2017-04-11 07:14] lowlevl commented on #26
Please don't open issues like that .-. Just reply to the one opened...

[2017-04-11 07:15] lowlevl commented on #26
Whoops x) I did'nt really read !
Sorry, okay we'll help you xD
@DiegoSepu95

[2017-04-11 11:10] adamff-dev commented on #19
Any idea? I been trying to fix this problem without success...

[2017-04-11 16:00] DiegoSepu95 commented on #19
@Franco-Poveda @BlueArduino20
Yes i fixed it! here is the file.  [Keyboard.cpp](https://github.com/Nurrl/LocaleKeyboard.js/files/913833/Keyboard.cpp.txt) i fixed <>~.
Just change the file extension back to .cpp, that is for the spanish-ISO keyboard layout.

[2017-04-11 16:03] DiegoSepu95 commented on #26
Solved. @Nurrl
Here is the [Keyboard.cpp](https://github.com/Nurrl/LocaleKeyboard.js/files/913871/Keyboard.cpp.txt) for the ones with the same problem.
Just change the extension back to .cpp (because is on .txt) and replace it.

[2017-04-11 17:30] adamff-dev commented on #19
@DiegoSepu95 Thank you. I've tried your .cpp and it doesn't work at all. Look at this TheJedeX's repository: https://github.com/TheJedeX/Keyboard-Spanish.cpp/blob/master/Keyboard-Spanish.cpp
It has solved all the problems, but ^ and ` still not working.

After using the cpp I've put here:

Original text: !"#$%&'()*+,-./0123456789:;<=>?ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^`_abcdefghijklmnopqrstuvwxyz{|}~

[2017-04-11 17:46] adamff-dev commented on #19
Ok, I've found the solution. We need to remove **_altGrMap[94] = true; // ^**, and **_altGrMap[96] = true; // `**. Here you've got my cpp code:

[code]

[2017-04-11 19:42] lowlevl commented on #19
Okay ;D, it seems that this issue will be closed tomorrow ;D

[2017-04-11 19:42] lowlevl commented on #19
Thanks @DiegoSepu95 @BlueArduino20 :D

[2017-04-11 19:54] adamff-dev commented on #19
@Nurrl I see a new problem... On spanish layout we need to press some key after ~ to write it. The problem comes when after **^** or **´** or **~** comes a space. To make ~ and after that, a space (~ ) we need to: ALTGR + 4, SPACE and SPACE.
Are there any way to add two keys? Something like **_0x21|SHIFT_** but not together at the same moment, but one after another.

[2017-04-11 19:59] adamff-dev commented on #19
**Here an example:**
Original text: ~ X
Written text: ~X

[2017-04-11 20:12] lowlevl commented on #19
I Think this is like all Latin-based keyboard, and it's different across OSs..
Example, for me in France : (**AltGr** + **2**)
  - **Windows/OS X** -> **AltGr** + **2** + (Later)**Space** = ~
  - **Linux** -> **AltGr** + **2**  + (Later)**AltGr** + **2** = ~~

[2017-04-11 20:17] adamff-dev commented on #19
Ok, then... There isn't any way to add keys (one after another), is there?

[2017-04-11 20:18] lowlevl commented on #19
Nope, sorry...

[2017-04-11 20:24] adamff-dev commented on #19
Ok, thank you. Then I'll include a comment on my last code I've posted.

[2017-04-12 10:16] lowlevl commented on #19
Oh sorry I did'nt saw, use the Wiki :D

[2017-04-12 10:29] adamff-dev commented on #19
I've uploaded the file to the locales folder

[2017-04-12 11:10] lowlevl commented on #19
Yep, just modify the file as intended and send pull request :D

[2017-04-12 11:40] adamff-dev commented on #19
Ok, It's done!

[2017-04-12 12:29] #19 closed

[2017-04-12 12:29] #26 closed

[2017-04-16 16:01] DerBuddie opened #31 "Need help creating a swiss keyboard layout"
Hello!
I´m trying to make a locale for swiss keyboard layout but I'm not able to do it. Can someone here pls help me? :)

[2017-04-16 18:36] lowlevl commented on #31
Hi @DerBuddie,
Hmm do you have any picture of the keyboard ? ;D

[2017-04-17 12:13] Buettovan commented on #31
http://www.lindy.ch/$WS/ld0101/websale8_shop-ld0101/produkte/medien/bilder/gross/21834_1.png

[2017-04-18 10:07] lowlevl commented on #31
Thanks @DerBuddie, and what keys don't work ? Please use this:
[code]
and compile with [Dckuino.js](https://nurrl.github.io/Dckuino.js/) __without selecting a locale(Copy/Paste)__, then you'll compare with this :
[code]

They characters above are the only chars you can put with an Arduino, there is no exception, and we'll need to modify the Arduino Core to make this work, and this is not possible.

[2017-04-18 20:44] Buettovan commented on #31
hi @Nurrl
I get this:

+à*ç%/ä)=(`,‘.-0123456789éö;^:_ABCDEFGHIJKLMNOPQRSTUVWXZYü$¨&§?abcdefghijklmnopqrstuvwxzyè£!° „

I hope you can help me :)

[2017-04-24 16:50] Andsoeg opened #33 "I will make one for the norwegian layout"
I will make one for the norwegian layout, but i need to know how, lol. Any special apps or software i need to help me out?

[2017-04-24 16:50] Andsoeg commented on #33
do i need to make both cpp and .h file?

[2017-04-24 16:52] lowlevl commented on #33
Nop simply follow the guide in wiki: [How to create a locale ?!](https://github.com/Nurrl/LocaleKeyboard.js/wiki/How-to-create-a-locale-%3F!)

[2017-04-24 16:53] lowlevl commented on #33
Just .lang, just modify the sample.lang to fit with norwegian key layout ^^

[2017-04-24 17:10] Andsoeg commented on #33
STRING !"#$%&'()*+,-./0123456789:;<=>?ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^`_abcdefghijklmnopqrstuvwxyz{|}~ @

What should i do with this? I am sorry, not a very technical guy. Just someone who wants to have some fun on a norwegian keyboard

[2017-04-24 17:24] Andsoeg commented on #33
!"#$%&'()*+,-./012345STUVWXYZ[]^`_abcdefghijklmnopqrstuvwxyz{´}~@
[]^`_abcdefghijklmnopqrstuvwxyz{´}~@
This was the output

[2017-04-24 17:25] Andsoeg commented on #33
This was based of the danish one. or should i build from scratch?

[2017-04-24 21:42] Andsoeg commented on #33
Yeah ok, i have found out everything except the part of how i could know the "Coordinate" to the number/character/symbol.
[code]
This is how it is regularly.  This symbol (") is to the right for (!) on my keyboard.
\# is to the right again for (!), then i assumed that # should be `0*1g I SHIFT`
But no,
[code]
This is the error. This whole coordinate thing confuses me.

[2017-04-24 21:58] Andsoeg commented on #33
Step 3 - Time to test
is also unclear to me

[2017-04-25 15:43] Andsoeg commented on #33
[code]
I got this output now
Tell me if you could help me with the last spacebar. :)

[2017-04-25 15:44] Andsoeg commented on #33
All i miss is the space between ~@

[2017-04-25 20:26] lowlevl commented on #33
Hi, you made several mistakes in you posts, let me explain:
  - `0x1g` and `0*1g` are completely different, the first mean `1g` in hex, the second mean `0[multiplication]1g` .
 - `0x1g` is not a valid hexadecimal number, the characters range are 0->9 - a->f, for a total of 16 chars.

__Step 3__ is when you want to test, obviously, you use Dckuino.js, then you upload the code in the Arduino, you op

[2017-04-25 20:27] lowlevl commented on #33
To convert characters to hex, for now i didn't found anything... @Andsoeg

[2017-04-25 20:29] Andsoeg commented on #33
Only character not working is spacebar.

[2017-04-28 17:45] lowlevl commented on #33
Oh, so find the line for space ^^ And try :D @Andsoeg

[2017-04-28 17:45] lowlevl commented on #33
*To fix it ^^

[2017-04-29 11:41] Andsoeg commented on #33
I have, but it ios like 100 diffrent hex chars to test, and i doesnt seem to find it

[2017-04-30 17:51] lowlevl commented on #33
Are you sure that `STRING This is a test`, outputs: `Thisisatest` ?

[2017-05-04 13:52] gusgravious commented on #16
Hi there. Just started playing with a digispark and realized I have a problem with the keyboard layout as I also need it to work on Swedish keyboards. I am also a noob :-). I also too need to be able to compile and execute for keyboards on PC and Mac in swedish, meaning 2 slightly different layouts. I found my way here from Seytonics Malduino page (https://malduino.com/converter/info.html).

First

[2017-05-05 13:58] lowlevl commented on #16
Thanks @gusgravious, I'm trying to make an "auto-locale" maker, but do you know how to get the hex code a pressed key ?

[2017-05-05 14:12] gusgravious commented on #16
Hi @Nurrl, thanks for replying.

Not yet, I only looked for a coupIe of minutes this morning and found a project where a guy was trying to write a "translator" in C++ that accidentally printed the hex value instead of the key pressed. Somewhere else I found that one could print char variables as hex and dec in C# or something.

I'm not really a programmer and only have limited experience with pyth

[2017-05-05 14:13] lowlevl commented on #16
For me I'll go through Python, because we need to take full control of keyboard.. To get the keystrokes ^^

[2017-05-05 16:27] gusgravious commented on #16
I did think about Python as well, though I did find this after some quick "phone-googleing"

http://stackoverflow.com/questions/3381614/c-convert-string-to-hexadecimal-and-vice-versa

So this is obviously C++, I have not found a solution in python yet. What if you don't use keyboard input and just iterate through the "test-string", would the HEX output be system dependent (as the locale settings w

[2017-05-05 16:30] lowlevl commented on #16
But it's not this hex value we need... The hex values for chars are static... The values we need are the hex keystrokes value :D @gusgravious (Aka. Keyboard raw output values)

[2017-05-05 18:22] gusgravious commented on #16
Ouch, that's embarrassing....  Well, it could have been a hole lot worse right, this could have been a public forum, oh wait.... 😰 I'll just put another coin in the ol' noob-jar, hehehe 😄 . I do feel kind of dumb right now though it is quite obvious of course. @Nurrl

Should I miraculously manage to produce something worth sharing I'll get back to you, otherwise I'll stick to what I know (ctrl+c,

[2017-05-05 18:37] lowlevl commented on #16
You're welcome, there is only 3 not working chars, so you might just try to play with the altGrMap ;D
Obviously, this variable store what characters needs to be pushed with AltGr, and it works like this :
  - `_altGrMap[23] = true;` means "*Use the AltGr modifier for the key index 23 = yes*"
And the key index is the position in the **asciiMap**, from 0 to 127...

[2017-05-05 18:40] lowlevl commented on #16
@gusgravious

[2017-05-05 18:50] gusgravious commented on #16
@Nurrl No thank you. Yep, this is likely something I can manage, and will solve my issue. If I get around to it I'll try to figure out how to add this to the pile. Meanwhile, I did find this "[showkey](https://linux.die.net/man/1/showkey)", might be interesting and potentially something like this exists in python

[2017-05-05 18:58] lowlevl commented on #16
Yep, I knew showkey, but it doesn't output the good hex codes too, I don't know how to make this working .-.

[2017-05-07 18:21] BlueArduino20 opened #34 "I've created an automatic .cpp generator"
The software I've made generates a Keyboard.cpp according to our locale chosen.
This is the main idea: https://www.youtube.com/watch?v=gxE7GKLcC2w
- You can use this software in Linux: https://github.com/BlueArduino20/LocaleKeyboard.SH
- Or Windows: https://github.com/BlueArduino20/LocaleKeyboard.BAT

[2017-05-08 15:34] Andsoeg commented on #33
Yes, what technique do you use when you try to find characters?

[2017-05-08 15:45] Andsoeg commented on #33
/*
  Keyboard.cpp

  Copyright (c) 2015, Arduino LLC
  Original code (pre-library): Copyright (c) 2011, Peter Barrett

  This library is free software; you can redistribute it and/or
  modify it under the terms of the GNU Lesser General Public
  License as published by the Free Software Foundation; either
  version 2.1 of the License, or (at your option) any later version.

  This library is distr

[2017-05-08 15:46] Andsoeg commented on #33
I dont know any about this shit, and my brain went full overload during this time. But however it seems like it is the test string something is wrong with. because i can type regular words with a space between, this should be perfect?

[2017-05-08 15:46] Andsoeg commented on #33
This is the Norwegian keyboard.cpp as i mentioned

[2017-05-09 08:55] jalax0990 opened #35 "ES_LAT?"
How i can modify ES_es keyboard to es_lat??

[2017-05-11 14:41] lowlevl commented on #34
Hi, @BlueArduino20, thanks for doing this, but why ? The LocaleKeyboard.js does the same thing, why not creating an index.html ? I don't really understand why you did this ;D
Thanks anyway...

[2017-05-11 16:18] lowlevl commented on #35
Hi, what keys aren't working ? The project only supports the non-extended ascii table :
![non-extended ASCII](http://www.asciitable.com/index/asciifull.gif)

[2017-05-11 18:20] adamff-dev commented on #34
I think that it's easier using the command line (And more friendly for pentesters)

[2017-05-11 18:29] lowlevl commented on #34
Pentesters could use npm :D

[2017-05-12 01:04] 00xData commented on #35
If i print this string in Es_ES  i print other thing
[code]

This is i get
[code]

[2017-05-12 11:40] lowlevl commented on #35
So, apparently, you miss a "AltGr" keys, how do you type these keys on you keyboard ? :
[code]

[2017-05-16 03:23] 00xData commented on #35
This is the Keyboard per example

 SHIFT+3 = #
ALTGR+q = @
ALTGR+' = \

https://k60.kn3.net/E/6/6/C/F/6/21B.png

[2017-05-16 06:15] lowlevl commented on #35
Can you send a pull request, so I can help you ? By modifying directly the code ?

*Note: Use this guide -> https://github.com/Nurrl/LocaleKeyboard.js/wiki/How-to-create-a-locale-%3F!*

[2017-05-18 03:03] 00xData commented on #35
If i try to make a keymap i get this
[code]

But i can get the other characters i im lost.

 I try to follow the tutorial but i can get the lost characters
!"$%&'()*+,-./0123456789:;<=>?ABCDEFGHIJKLMNOPQRSTUVWXYZ¬~¨´_abcdefghijklmnopqrstuvwxyz^`

[2017-05-18 14:46] adamff-dev commented on #34
Right, but if we've got more ways to do something, better. It's about variety :). Anyway, thank you for doing this repository!

[2017-05-18 15:45] lowlevl commented on #34
No problem ^^
Maybe improving your project could be great, because I saw you hard-coded some things like locale selection :S

[2017-05-18 19:41] lowlevl commented on #35
This really not what you need to do x) You need to get something like > [This](https://github.com/Nurrl/LocaleKeyboard.js/blob/master/locales/es_ES.lang) <

[2017-05-19 16:43] adamff-dev commented on #34
Take a look to the new scripts, I've modified them.

[2017-05-31 18:07] ConTRoniiX opened #36 "German Keyboard Bug"
Hello,
there's a bug the german keyboard. If I want to let it type a backslash(\) it types a & instead.
pls fix xD

ConTRoniiX

[2017-05-31 18:16] lowlevl commented on #36
Hi,
How do you type this ?

[2017-06-01 19:21] ConTRoniiX commented on #36
If I want to type a backslash, I would do this:
[code]

[2017-06-01 19:21] ConTRoniiX commented on #36
Kinda messed up the code thingy.

[2017-06-01 20:07] lowlevl commented on #36
When I said how, I meant on your keyboard :3

[2017-06-01 20:17] Jackiedk100 opened #37 "Danish: Alt Gr"
Hello,
All Alt Gr symbols doesn't work.

Example: Alt Gr + 4 = $
but in this code:
Alt Gr + 4 = 4

[2017-06-01 20:21] lowlevl commented on #37
Hi, thanks for your submit ^^,
Please can you send me the code,
provide me what way you used to get the script(**Copy/paste** or **Download button**)
and if you downloaded, what locale you've used ^^

[2017-06-01 20:22] Jackiedk100 commented on #37
Everything is from:
https://malduino.com/converter/
da_DK locale

[2017-06-01 20:22] Jackiedk100 commented on #37
Thanks for the fast respond

[2017-06-01 20:52] lowlevl commented on #37
No problem, but I saw that they didn't used my LocaleKeyboard.js, I don't know what they did, they just took all the .lang.. Maybe you'll have more by sending the issue to them ^^

[2017-06-01 21:07] Jackiedk100 commented on #37
Do you think that is why?

[2017-06-01 21:08] lowlevl commented on #37
I don't even know if they got the same .lang as me..

[2017-06-02 13:32] ConTRoniiX commented on #36
oh :D i press ALT GR and then the ß

[2017-06-04 02:21] thiagofw opened #38 "Problem with '<>; Ç ^ ~}' in Layout pt_BR."
Hello, I created the keyboard.cpp file according to the documentation, I wrote the code and after uploading to arduino (arduino micro - leonardo) I am not having success using punctuation, accentuation as required by the Portuguese language of Brazil.
I wonder if anyone else has or has had this problem or if someone could give me an aid in correcting this.
Ex:. :; ^~ `'{ [ } ]
Does not work correc

[2017-06-13 12:25] THXMASTER opened #39 "Help making Slovenian locale"
im having trouble making slovenian keyboard locale....i allmost got everything working except the alt-gr keys.

[2017-06-16 07:46] lowlevl commented on #39
Hi, @THXMASTER can you send here a picture of your keyboard, along with the .lang you started to make ?
Thanks.

[2017-06-16 09:52] lowlevl commented on #38
Hi, sorry for the late answer, can you provide your .lang and a picture of your keyboard ? @thiagofw

[2017-06-16 09:52] THXMASTER commented on #39
i think i succeed in making the full locale. ill send you a pic of my keyboard anyway so u can check if i missed something. i also made a pull request, so check that out also.

![20170616_114811](https://user-images.githubusercontent.com/9149597/27221827-384d9920-528a-11e7-8c8c-9c2e4fc9ee29.jpg)

[2017-06-18 21:23] jonasclaes opened #41 "@ key not printing on be_BE keyboard."
The @ key is not printing on the be_BE keyboard.
I used this line of code: Keyboard.print(F("@"));
Which doesn't work.
Ctrl + Alt + 2 does give me an @ but not via duckyscript.

[2017-07-04 18:54] lowlevl commented on #16
@loidor Here is the begining of what you want to do :D

[2017-07-05 17:51] #16 closed

[2017-07-05 21:39] loidor opened #43 "Issues in listLocale"
While adding Swedish, I noticed that listLocale is... a bit weird. It's not really in any order, and they use locale codes which messes a bit with things since keyboard layouts don't follow locale codes exactly.

The languages right now are:

[code]

\* I'm not sure about Belgian Keyboards. In the PR this is specified as Belgian dot (I find Belgian Period when googling about, so I guess that's the

[2017-08-02 16:15] ConTRoniiX commented on #36
Hello? Is it fixable?

[2017-08-02 16:29] lowlevl commented on #36
Maybe, but as I did for French, I tested manually.. And it was painful .-. @ConTRoniiX

[2017-08-02 17:06] ConTRoniiX opened #44 "Repost of "German Keyboard Bug + other Bugs"
Hello,

I didn't get an answer on my last Issue, so I thought i should repost it.

Bugs I found for the german keyboard:

\ is instead ß. I write it like this: ALT GR + ß
@ is instead q. I write it like this: ALT GR + Q
[ is instead 8 and ] is instead 9. I write them like this: SHIFT + 8 and SHIFT + 9
| is instead <. I write it like this: ALT GR + <

I hope you can fix it. I found a way to get aro

[2017-08-02 17:08] ConTRoniiX commented on #36
Well I am sorry for that^^ I opened a new Issue with other Bugs I found, let me know how I can help you

[2017-08-02 17:08] lowlevl commented on #44
I answered 38min ago on the other, I'll close it.

[2017-08-02 17:08] #36 closed

[2017-08-02 17:11] lowlevl commented on #44
You could use logic, To type [, you type SHIFT + 8, so you take the value of 8(0x25, Value found in the **_asciimap**) and you apply SHIFT so : **[** -> **0x25|SHIFT**

[2017-08-02 17:12] lowlevl commented on #44
Using this logic, you can guess the other ;)

[2017-08-02 17:48] ConTRoniiX commented on #44
ok, so ALT GR is just for example: "value of <|ALT GR"

[2017-08-02 17:50] lowlevl commented on #44
No, I couldn't do this because of Arduino Core limitations.. So i made the _altGrMap :
You count from 0(the first item in list is id 0) to what you want and you can apply an ALTGR by setting _altGrMap[<theidyoufindbycounting>] = true;

[2017-08-02 17:51] ConTRoniiX commented on #44
ok thanks, i'll try it

[2017-08-04 18:48] ConTRoniiX commented on #44
The characters I mentioned are already included:

[code]

And I wrote them for example like this;

`Keyboard.print("\");`

Did I do something wrong?
It still doesn't print those Characters

[2017-08-06 18:46] KevinDenys commented on #43
Didn't see you mentioned me, euhm I can remember making the Belgian file was a pain in the *ss, lots of trial and error. Everything I found online didn't match. The easiest part was switching qwerty -> azerty. The other keys like a dot, plus, minus were looking at the Qwerty version and adding a shift in front of it. (If I can remember correctly)

[2017-08-07 12:30] lowlevl commented on #44
Hi @ConTRoniiX, did you tried with all the chars ?

[2017-08-07 17:48] ConTRoniiX commented on #44
Yes, I did. And none of the ones I listed at the beginning is working.

[2017-08-29 15:05] ConTRoniiX commented on #44
Would be nice if you would help me, I'm still having the same problem.

No hate, I really love your project and I think it is awesome that you helped me so much at my past messages and you probably just missed my last one ;)

[2017-08-29 15:33] lowlevl commented on #44
Hi, yep I missed it:
'\\' may not be fixable, because we apply the altGr on the key you use with altGr, for example for '\\' you may fix it like this :
[code]
Because you do 'ß' + altGr. This apply for all 'altGr keystrokes'.

For other, I need your complete .lang :D

[2017-08-30 02:20] diegochaves commented on #38
Just started one pt_BR.lang, so far i just came here to see if someone is doing it.

https://en.wikipedia.org/wiki/Portuguese_keyboard_layout#/media/File:KB_Portuguese_Brazil.svg

[2017-09-22 20:51] Vikvek opened #47 "Fin ALTGR Backslash"
Fin keyboard is missing backslash (\)

[2017-11-09 07:40] lowlevl commented on #43
Hi @loidor, this project is about to be merged directly into Duckuino, and I'll be using these locales codes, thanks for your help and sorry for the late answer ^^

[2017-11-10 13:57] loidor commented on #43
Great!

[2017-11-10 13:57] #43 closed

[2018-01-09 09:13] ghost commented on #31
Hello there @Nurrl @DerBuddie
I would also be interested in a swiss keyboard layout and i wanted to ask if there has been any progress on the File. I would really like to help but i am not experienced in C++ but if there's anything i could do please tell me. :)
Thanks

[2018-01-20 22:53] 20giro opened #48 "Characters with shift-altgr combination [IT]"
Hi, I have some issues with the characters that need the combination of shift+altgr+(for example)è.
For example instead the brace it write only "è".
Thanks for the help.

[2018-03-07 07:42] Jackiedk100 opened #49 "Strings on danish keyboard"
There are many errors with symbols in the danish locale file.

This is all the numbers and symbols at the numbers - "1234567890+´"
This is shift + numbers - "!"#¤%&/()=?"
This is alt + gr + 23457890´ - "@£$€{[]}|"
This is the symbol left for 1 - "½"
This is shift + the symbol left for 1 - "§"

This is all the letters from qaz and to the right. (you also don't have æøå)
"qwertyuiopå" + "¨" <-- this

[2018-03-07 07:51] Jackiedk100 commented on #49
It's this one
https://github.com/Nurrl/LocaleKeyboard.js/blob/master/locales/da_DK.lang
or
https://github.com/Seytonic/malduino/blob/master/converter/src/locales/da_DK.lang

[2018-03-07 08:07] Jackiedk100 commented on #49
This is how it appears right now:

1234567890+ "
"!"#y%&/()=?"
"2x47890´"
"½"
"2"

"qwertyuiop5" + "3"
"asdfghjkl6'"
"<zxcvbnm,.-"

">"
""
";"
":"
"_"
"*"
"^"
"¨"

[2018-03-07 09:44] lowlevl commented on #49
Hi @Jackiedk100, please note that this project is for Duckuino, not Malduino, which is a fork and we **don't** maintain.
Please identify problems only on *https://github.com/Nurrl/LocaleKeyboard.js/blob/master/locales/da_DK.lang*.
Thanks !

[2018-03-07 11:40] Jackiedk100 commented on #49
How do I do that?

[2018-03-07 12:49] lowlevl commented on #49
With what project did you compiled your code ? (On what site ?)

[2018-03-07 12:59] Jackiedk100 commented on #49
The file from LocaleKeyboard.js for Denmark

[2018-03-07 16:24] lowlevl commented on #49
LocaleKeyboard.js can't print characters alone, so with what website you've tested this ?

[2018-04-08 06:27] exanor commented on #34
n

[2018-08-18 22:32] Build-0-Matic opened #50 "French Canadian Keyboard"
Hi!
I'm trying to make a locale for a French-Canadian keyboard and I'm having a bit of trouble figuring things out.
I've spent most of the afternoon modifying code-updating-trying-redo from start....
We have a lot important characters that use the AltGr key. Like \@~[]{}´­ and others that need to type a key followed by a space like ^

I noticed that the _altGrMap is needed but can't figure out tha

[2018-08-19 08:11] lowlevl commented on #50
I'll close the Duckuino issue, we'll continue here :D

[2018-08-19 15:40] Build-0-Matic commented on #50
Like you asked, I did read the wiki.
So far, I've managed to figure out the following (I think).
The asciimap locates each character on the physical keys using the BIOS key calls in hex.
The asciimap's order is important because it sequentially maps the keys.
For the keys that are not at their right place need to get their hex address changed.
Those that need the AltGr key need to have their posit

[2018-08-19 16:01] lowlevl commented on #50
Yes, you're perfectly right, the altGrMap is a trick I invented to fool the original Keyboard library. It's a bit messy and tricky to do but it does work.
You could try to use the French locale to adapt the French-Canadian.

[2018-08-19 16:01] lowlevl commented on #50
I agree that's tricky and long, but I haven't figured out another way to do it :c I you have any idea !

[2018-08-19 16:08] Build-0-Matic commented on #50
The way that would be the easiest would be to do like the shift key trick but using the right alt key or ctrl+left alt....

Yesterday I stumbled onto this https://handmade.network/forums/t/2011-keyboard_inputs_-_scancodes,_raw_input,_text_input,_key_names
which might help.

[2018-08-19 16:18] lowlevl commented on #50
Yes, But the `|` is a bitwise operator which adds `0b1000` to the sum, but we can't add one because we're a the last byte, the solution would be to increase the asciimap size.

[2018-08-19 16:22] Build-0-Matic commented on #50
I'm wondering if that would be easier or if it would take too much room on the arduino?
I'm not a programmer so I can't tell...

[2018-08-19 16:27] lowlevl commented on #50
It will be okay for the memory, but I can't tell if it will just don't work because of how the Arduino Core uses it !

[2018-08-19 16:27] lowlevl commented on #50
Eating 4bytes is not really a big deal :D

[2018-08-19 16:34] Build-0-Matic commented on #50
Right now I'm sorting through all the keys and commenting those that need the AltGr key...
I'm also running into a weird issue with the first  0x2c,          //  ' ' entry... it seems to eat-up other characters...
But back to the the big mod... what would it take to increase the asciimap size?

[2018-08-19 16:43] lowlevl commented on #50
I don't know, I need to investigate more ^^ For 0x2c, I don't know, but you're maybe printing a Backspace !

[2018-08-19 16:49] Build-0-Matic commented on #50
But since it's at the start and doesn't affect the english keyboard, can't possibly be that...
Looks like it's modifying forward...

[2018-08-19 16:52] lowlevl commented on #50
Hmm, so I don't know .-.

[2018-08-19 16:57] Build-0-Matic commented on #50
What's the first character of the sequence supposed to be?
Maybe it just jets mapped in a bad way?

[2018-08-19 17:30] Build-0-Matic commented on #50
Just found this...
https://gist.github.com/MightyPork/6da26e382a7ad91b5496ee55fdc73db2

[2018-08-19 18:22] lowlevl commented on #50
It's in ascii order, so 0 -> NUL

[2018-08-19 19:39] Build-0-Matic commented on #50
And the first character before the ! is a space I presume?
So far, I'm getting this thing down. Here's the test sequence I get
``"#$%&'()*+,-./0123456789:;<=>?ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^`_abcdefghijklmnopqrstuvwxyz{|}~"``

[2018-08-20 15:29] Build-0-Matic commented on #50
Finally fixed the first missing characters problem. It turns out the Arduino was to fast to start typing. I increased the delay to 1000ms and that fixed it.
But now I'm having a few problems with the backslash... it works intermittent.....
my test string now looks like this
``!"#$%&'()*+,-./0123456789:;<=>?ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^`_abcdefghijklmnopqrstuvwxyz{|}~ @``
Probably is good enough t

[2018-08-20 15:35] lowlevl commented on #50
Nice, there's only a problem with `\` ?

[2018-08-20 15:42] Build-0-Matic commented on #50
Yes, I know but for some reason can't figure this one out.
the first \ doesn't print, but the second or third does... this really puzzles me.

[2018-08-20 15:45] lowlevl commented on #50
So it works, it's just the delay I guess :D

[2018-08-20 16:08] Build-0-Matic commented on #50
Well, at first I was not getting the `!` to print. That was delay related.
But I still can't get the `\` to print reliably... weird.
But for all the rest, it works pretty OK, so I made a lang file and submitted it anyways.

[2018-08-20 16:10] lowlevl commented on #50
Nice :D Thanks for your work for the project ^^

[2018-08-20 16:10] Build-0-Matic commented on #50
You're welcome🙂

[2018-08-20 16:11] lowlevl commented on #50
For future reference, we'll use the Duckuino project since `LocaleKeyboard.js` will be '''bundled''' into Duckuino. No worries, I'll adapt your locale for Duckuino.

[2018-08-20 16:12] lowlevl commented on #50
Feel free to send your pull request :D

[2018-08-20 16:14] Build-0-Matic commented on #50
Will do.